@import "tailwindcss";

@theme {
  --color-blue: rgb(47, 39, 206);
  --color-ligth-blue: rgb(222, 220, 255);
  --color-gray: rgba(24, 24, 26, 0.035)
}

.active {
  background: rgb(47, 39, 206);
  color: white;
}